body {
    background-image: url(BG_.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .form-container {
    width: 340px;
    height: 240px;
    overflow: hidden;
    position: relative;
    margin: 200px auto;
    border-radius: 30px;
    box-shadow: 5px 8px 12px black;
    background-color: #fff;
    border: 2px solid #ccc;
    box-sizing: border-box;
  }
  
  form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-image: url(BG_.jpg);
  }
  
  h2 {
    margin-top: 0;
  }
  
  label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #021203;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  #bottom {
    border-color: #ccc;
    background-color: red;
    border-radius: 5px;
  }